/* Error: expected "{".
 *    ,
 * 73 | =======
 *    |        ^
 *    '
 *   sass\layout\_menu-restaurant.scss 73:8  @import
 *   sass\_main.scss 17:9                    root stylesheet */

body::before {
  font-family: "Source Code Pro", "SF Mono", Monaco, Inconsolata, "Fira Mono",
      "Droid Sans Mono", monospace, monospace;
  white-space: pre;
  display: block;
  padding: 1em;
  margin-bottom: 1em;
  border-bottom: 2px solid black;
  content: 'Error: expected "{".\a    \2577 \a 73 \2502  =======\d\a    \2502         ^\a    \2575 \a   sass\\layout\\_menu-restaurant.scss 73:8  @import\a   sass\\_main.scss 17:9                    root stylesheet';
}
