footer{
    padding-top: 20px;
    padding-bottom: 30px;
    background: #2d2f30;

    .txt{
        margin-left: 20px;

        @media screen and (min-width: 768px) {
            display: flex;
            flex-direction: row;
            justify-content: space-between;
            flex-wrap: wrap;
            max-width: 1900px;
            margin-right: 20px;
        }
        h3{
            color: #fff;
            font-size: 20px;
            font-weight: normal;
            margin-bottom: 20px;
            @media screen and (min-width: 768px) {
                width: 1900px;
            }
        }

        &__link1{
            @include footer-link-logo;

            &__link2{
                @include footer-link-logo;

                i{
                    width: 13px;
                }

                &__link3{
                    @include footer-link;

                    &__link4{
                        @include footer-link;
                    }
                }
            }
        }
    }
}