.accueil-heading {
    &__logo {
        padding-bottom: 5px;
        padding-top: 3px;
        @include heading-shadow;
        display: flex;
        justify-content: space-around;

        img {
            width: 200px;

        }
    }
} 