.main {
    .cover-image img {
        display: block;
        width: 100%;
        height: 250px;
        object-fit: cover;
        margin-bottom: -35px;

        @media screen and (min-width: 768px) {
            height: 350px;
        }
    }

    .restaurant {
        @include restaurant-block;

        &__title {
            margin-bottom: 30px;
            display: flex;
            width: 1900px;

            h2 {
                width: 300px;
            }
        }

        .heart-icon {
            @include restaurant-heart;
        }

        .heart-checkbox {
            display: none;

            &:checked + .heart-icon {
                background: linear-gradient(355deg, $color-primary 36%, $color-secondary 83%);
                background-clip: text;
                -webkit-background-clip: text;
                -webkit-text-fill-color: transparent;
                -webkit-text-stroke: unset;
                animation-name: scale-in-center;
                animation-duration: 800ms;
            }
        }
        

        .menu-flex {
        @media screen and (min-width: 768px) {
            display: flex;
            flex-direction: row;
            justify-content: space-around;
            flex-wrap: wrap;
            width: 1900px;
        }
            .menu-bloc {
                @media screen and (min-width: 768px) {
                    display: flex;
                    flex-wrap: wrap;
                    justify-content: column;
                    width: 335px;
                    flex-direction: row;
                }

                h3 {
                    @include restaurant-h3-specs;
    
                    @media (min-width: 768px) and (max-width: 1024px) {
                        width: 335px;
                    }
                }

                &__card {
                    @media screen and (min-width: 768px) {
                        width: 335px;
                        display: flex;
                        justify-content: stretch;
                        flex-direction: column;
                    }
                    display: block;
                    position: relative;
                    cursor: pointer;

                    &__title {
                        @include restaurant-food-specs;
                        @include restaurant-txt-overflow;
        
                        h4 {
                            @include restaurant-h4-specs;
                        }
                    }
        
                    &__price {
                        @include restaurant-price-specs;

                        @media screen and (min-width: 768px) {
                            bottom: 20px;
                        }
                    }

                    &__icon {
                        @include restaurant-check-specs;
                    }
                }

                &-checkbox {
                    display: none;

                    &:checked +.menu-bloc__card {
                        .menu-bloc__card__title {
                            h4 {
                                @include restaurant-h4-animation;
                            }
    
                            p {
                                @include restaurant-txt-animation;
                            }
                        }
                        .menu-bloc__card__price, .menu-bloc__card__price--modif {
                            @include restaurant-price-animation;
                        }

                        .menu-bloc__card__icon {
                            @include restaurant-check-animation;
                            i {
                                animation-name: spin;
                                animation-duration: 500ms;
                                animation-fill-mode: both;
                            }
                        }
                    }

                    &:not(:checked) +.menu-bloc__card {
                        .menu-bloc__card__title {
                            h4 {
                                @include restaurant-h4-animation-reverse;
                            }
    
                            p {
                                @include restaurant-txt-animation-reverse;
                            }
                        }

                        .menu-bloc__card__price, .menu-bloc__card__price--modif {
                            @include restaurant-price-animation-reverse;
                        }

                        .menu-bloc__card__icon {
                            @include restaurant-check-animation-reverse;

                            i {
                                animation-name: spin-reverse;
                                animation-duration: 500ms;
                                animation-fill-mode: both;
                            }
                        }
                    }
                }
            }

/* classes supplémentaires dédiées à l'animation fade-in bottom  optimale */
            .first {
                opacity: 0;
                animation-name: fade-in-bottom;
                animation-duration: 200ms;
                animation-delay: 1000ms;
                animation-fill-mode: both;
            }
            
            .second {
                opacity: 0;
                animation-name: fade-in-bottom;
                animation-duration: 600ms;
                animation-delay: 1000ms;
                animation-fill-mode: both;
            }

            .third {
                opacity: 0;
                animation-name: fade-in-bottom;
                animation-duration: 1000ms;
                animation-delay: 1000ms;
                animation-fill-mode: both;
            }

            .fourth {
                opacity: 0;
                animation-name: fade-in-bottom;
                animation-duration: 1400ms;
                animation-delay: 1000ms;
                animation-fill-mode: both;
            }
        }
/* Fin de la note classes supplémentaires */

        &__btn {
            @include bouton;
            margin-top: 30px;
            margin-bottom: 30px;

            @media screen and (min-width: 768px) {
                width: 335px;
                margin-left: auto;
                margin-right: auto;
            }

            a {
                text-decoration: none;
                text-align: center;
                color: #fff;
            }
        }
    }
}