.main {
    .cover-image img {
        display: block;
        width: 100%;
        height: 250px;
        object-fit: cover;
        margin-bottom: -35px;

        @media screen and (min-width: 768px) {
            height: 350px;
        }
    }

    .restaurant {
        @include restaurant-block;

        &__title {
            margin-bottom: 30px;
            display: flex;
            width: 1900px;

            h2 {
                width: 300px;
            }
        }

        .heart-icon {
            @include restaurant-heart;

            &:hover {
                background: linear-gradient(355deg, $color-primary 36%, $color-secondary 83%);
                background-clip: text;
                -webkit-background-clip: text;
                -webkit-text-fill-color: transparent;
                -webkit-text-stroke: unset;
                animation-name: scale-in-center;
                animation-duration: 800ms;
            }
        }

        .menu-flex {
        @media screen and (min-width: 768px) {
            display: flex;
            flex-direction: row;
            justify-content: space-around;
            flex-wrap: wrap;
            width: 1900px;
        }
            .menu-bloc {
                h3 {
                    @include restaurant-h3-specs;
    
                    @media (min-width: 768px) and (max-width: 1024px) {
                        width: 335px;
                    }
                }
    
                a:nth-child(2) {
                    animation-name: fade-in-bottom;
                    animation-duration: 200ms;
                    animation-delay: 750ms;
                }
    
                a:nth-child(3) {
                    animation-name: fade-in-bottom;
                    animation-duration: 600ms;
                    animation-delay: 750ms;
                }
    
                a:nth-child(4) {
                    animation-name: fade-in-bottom;
                    animation-duration: 1000ms;
                    animation-delay: 750ms;
                }

                a:nth-child(5) {
                    animation-name: fade-in-bottom;
                    animation-duration: 1400ms;
                    animation-delay: 750ms;
                }
    
                @media screen and (min-width: 768px) {
                    display: flex;
                    flex-wrap: wrap;
                    justify-content: column;
                    width: 335px;
                    flex-direction: row;
                }
    
                &__card {
                    text-decoration: none;
                    color: #000;
                    display: block;
                    position: relative;
    
                    @media screen and (min-width: 768px) {
                        width: 335px;
                        display: flex;
                        justify-content: stretch;
                        flex-direction: column;
                    }
    
                    &:active .menu-bloc__card__title {
                        h4 {
                            @include restaurant-h4-animation;
                        }
        
                        p {
                            @include restaurant-txt-animation;
                        }
                    }
    
                    &:active .menu-bloc__card__price {
                        @include restaurant-price-animation;
                    }
                    
                    &:active .menu-bloc__card__price--modif {
                        @include restaurant-price-animation;
                    }

                    &:active .menu-bloc__card__icon {
                        @include restaurant-check-animation;
                    }
        
                    &__title {
                        @include restaurant-food-specs;
                        @include restaurant-txt-overflow;
        
                        h4 {
                            @include restaurant-h4-specs;
                        }
                    }
        
                    &__price {
                        @include restaurant-price-specs;

                        @media screen and (min-width: 768px) {
                            bottom: 20px;
                        }

                        &--modif {
                            @include restaurant-price-specs;

                            @media screen and (min-width: 768px) {
                                bottom: 40px;
                            }

                            &-self {
                                @media screen and (min-width: 768px) and (max-width: 1044px) {
                                    @include restaurant-price-specs;
                                    bottom: 20px;
                                }

                                @media screen and (min-width: 1045px) {
                                    @include restaurant-price-specs;
                                    bottom: 40px;
                                }
                            }
                        }
                    }
        
                    &__icon {
                        @include restaurant-check-specs;
                    }
                }
            }
        }

        &__btn {
            @include bouton;
            margin-top: 30px;
            margin-bottom: 30px;

            @media screen and (min-width: 768px) {
                width: 335px;
                margin-left: auto;
                margin-right: auto;
            }

            a {
                text-decoration: none;
                text-align: center;
                color: #fff;
            }
        }
    }
}