.main {
    .cover-image img {
        display: block;
        width: 100%;
        height: 250px;
        object-fit: cover;
        margin-bottom: -35px;

        @media screen and (min-width: 768px) {
            height: 350px;
        }
    }

    .resto {
        @include restaurant-block;

        &__title {
            margin-bottom: 30px;
            display: flex;
            width: 100%;

            h2 {
                width: 300px;
            }
        }

        .heart-icon {
            i {
                @include restaurant-heart;
            }
        }

        .heart-icon-checkbox {
            display: none;

            &:checked + i {
                background: linear-gradient(355deg, $color-primary 36%, $color-secondary 83%);
                background-clip: text;
                -webkit-background-clip: text;
                -webkit-text-fill-color: transparent;
                -webkit-text-stroke: unset;
                animation-name: scale-in-center;
                animation-duration: 800ms;
            }
        }
        

        .menu-flex {
            display: flex;
            flex-direction: row;
            justify-content: space-around;
            flex-wrap: wrap;
            width: 100%;

            .menu-bloc {
                @media screen and (min-width: 768px) {
                    display: flex;
                    flex-wrap: wrap;
                    justify-content: space-around;
                    width: 335px;
                    flex-direction: column;
                }

                h3 {
                    @include restaurant-h3-specs;
    
                    @media (min-width: 768px) and (max-width: 1024px) {
                        width: 335px;
                    }
                }
            }

/* classes supplémentaires dédiées à l'animation fade-in bottom  optimale */
            .first {
                opacity: 0;
                animation-name: fade-in-bottom;
                animation-duration: 200ms;
                animation-delay: 1000ms;
                animation-fill-mode: both;
            }
            
            .second {
                opacity: 0;
                animation-name: fade-in-bottom;
                animation-duration: 600ms;
                animation-delay: 1000ms;
                animation-fill-mode: both;
            }

            .third {
                opacity: 0;
                animation-name: fade-in-bottom;
                animation-duration: 1000ms;
                animation-delay: 1000ms;
                animation-fill-mode: both;
            }

            .fourth {
                opacity: 0;
                animation-name: fade-in-bottom;
                animation-duration: 1400ms;
                animation-delay: 1000ms;
                animation-fill-mode: both;
            }
        }
/* Fin de la note classes supplémentaires */

        &__btn {
            @include bouton;
            margin-top: 30px;
            margin-bottom: 30px;

            @media screen and (min-width: 768px) {
                width: 335px;
                margin-left: auto;
                margin-right: auto;
            }

            a {
                text-decoration: none;
                text-align: center;
                color: #fff;
            }
        }
    }
}