.notice {
    margin-right: 20px;
    margin-left: 20px;
    @media screen and (min-width: 768px) {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: space-around;
    }

    h2 {
        margin-top: 60px;
        margin-bottom: 60px;
        @media screen and(min-width: 768px) {
            display: flex;
            width: 1900px;
        }
    }
    
    p {
        margin: 0;
    }
    
    &__step {
        position: relative;
        @include notice-btn;

        @media screen and (min-width: 768px) {
            width: 335px;
        }

        &__number {
            top: 20px;
            left: -10px;
            @include notice-number;
        }

        &--i {
            position: absolute;
            top: 25px;
            left: map-get($notice-element-position, icon-position);

            &--modif {
                position: absolute;
                top: 25px;
                left: map-get($notice-element-position, icon-position);
                color: $color-primary;
            }
        }

        &__txt {
            position: absolute;
            font-weight: bold;
            left: map-get($notice-element-position, txt-position);
            top: 25px;
            font-size: map-get($font-size, standard);
        }
    }
    :nth-child(0n+4) {
        background-color: lighten($color-primary, 35%);
    }
}