/* Mixins restaurant */
@mixin restaurant-block{
        position: relative;
        background-color: $bg-color-block;
        padding-left: 20px;
        padding-right: 20px;
        padding-top: 15px;
        padding-bottom: 15px;
        border-radius: 40px 40px 0 0;
}

@mixin restaurant-block-card-animation
{
    &__slideshow{
    position: absolute;
    right: -3px;
    top: 0px;
    color: #ffff;
    background: $color-tertiary;
    padding: 19px;
    border-radius: 0 20px 20px 0;
    opacity: 0;
        &:hover{
            opacity: 1;
            animation-name: checkslide;
            animation-duration: 0.5s;
        }
    }
}



@mixin restaurant-h3-specs{
    font-weight: normal;
    margin-top: 50px;
        &:after{
            content:'';
            display: block;
            width: 15%;
            border-bottom: 3px solid $color-tertiary;
            margin-top: 5px;
            margin-bottom: 15px;
        }
}

@mixin restaurant-h4-specs{
    margin-bottom: 8px;
    font-size: map-get($font-size, standard);
    padding-top: 10px;
}

@mixin restaurant-food-specs{
    position: relative;
    padding-top: 5px;
    padding-bottom: 10px;
    padding-left: 10px;
    background-color: #fff;
    margin-bottom: 10px;
    border-radius: 15px 15px 15px 15px;
    box-shadow: 0px 3px 3px 0px #C0C0C0;
}

@mixin restaurant-txt-overflow {
    p {
        width: 230px;
        overflow: hidden;
        white-space: nowrap;
        text-overflow: ellipsis;
        font-size: map-get($font-size, smaller);
    }
}

@mixin restaurant-price-specs{
    position: absolute;
    font-weight: bold;
    bottom: 10px;
    right: 25px;
}

@mixin restaurant-price-click {
    animation-name: priceslide;
    animation-duration: 500ms;
}

@mixin restaurant-check-specs{
    position: absolute;
    top: 0px;
    right: 0px;
    width: 30px;
    color: #ffff;
    background: $color-tertiary;
    padding: 20px;
    border-radius: 0 10px 10px 0;
    opacity: 0;
}

@mixin restaurant-check-click {
        opacity: 1;
        animation-name: checkslide;
        animation-duration: 0.5s;
}


/* Mixins footer */
@mixin footer-link-logo{
    a{
        text-decoration: none;
        color: #fff;
        display: flex;
        margin-bottom: 10px;

        p{
            margin-bottom: 0;
            margin-top: 0;
            margin-left: 20px;
        }
    }
}

@mixin footer-link{
    a{
        text-decoration: none;
        color: #fff;

        p{
            margin-bottom: 10px;
            margin-top: 0;
        }
    }
}