.notice{
    margin-right: 20px;
    margin-left: 20px;

    h2{
        margin-top: 60px;
    }
    
    p{
        margin: 0;
    }
    
    &__step{
        position: relative;
        @include notice-btn;

        &__number{
            top: 15px;
            left: -10px;
            @include notice-number;
        }

        &--i{
            position: absolute;
            top: 25px;
            left: map-get($notice-elm-pos, i-pos);
        }

        &__txt{
            position: absolute;
            font-weight: bold;
            left: map-get($notice-elm-pos, txt-pos);
            top: 25px;
            font-size: map-get($font-size, standard);
        }
    }
}