@import url("https://fonts.googleapis.com/css2?family=Roboto&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Shrikhand&display=swap");
* {
  font-family: "Roboto", sans-serif;
}

.restaurant h2 {
  font-family: "Shrikhand", cursive;
}

footer .txt h3 {
  font-family: "Shrikhand", cursive;
}

/* Mixins restaurant */
/* Mixins footer */
@keyframes checkslide {
  0% {
    width: 0px;
    opacity: 0;
  }
  50% {
    opacity: 0.5;
  }
  100% {
    width: 30px;
    opacity: 1;
    animation-fill-mode: forwards;
  }
}
@keyframes priceslide {
  0% {
    -webkit-transform: translateX(0);
    transform: translateX(0);
  }
  100% {
    -webkit-transform: translateX(-80px);
    transform: translateX(-80px);
  }
}
@keyframes txt-truncate {
  0% {
    width: 230px;
  }
  100% {
    width: 180px;
  }
}
@keyframes h4-truncate {
  0% {
    width: 300px;
  }
  100% {
    width: 250px;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
  }
}
* {
  margin: 0;
}

.heading {
  padding-bottom: 15px;
}
.heading a {
  text-decoration: none;
  color: #000;
}
.heading__arrow {
  position: relative;
  padding-top: 10px;
  padding-left: 20px;
}
.heading img {
  position: absolute;
  top: 10px;
  left: 87px;
  width: 200px;
}

.restaurant img {
  display: block;
  width: 375px;
  margin-bottom: -35px;
}
.restaurant__block {
  position: relative;
  background-color: #E9E9E9;
  padding-left: 20px;
  padding-right: 20px;
  padding-top: 15px;
  padding-bottom: 15px;
  border-radius: 40px 40px 0 0;
}
.restaurant__block__title {
  margin-bottom: 30px;
}
.restaurant__block__card h3 {
  font-weight: normal;
  margin-top: 50px;
}
.restaurant__block__card h3:after {
  content: "";
  display: block;
  width: 15%;
  border-bottom: 3px solid #99E2D0;
  margin-top: 5px;
  margin-bottom: 15px;
}
.restaurant__block__card__anchor {
  text-decoration: none;
  color: #000;
  display: block;
  position: relative;
}
.restaurant__block__card__anchor:hover .restaurant__block__card__anchor__txt h4 {
  animation-name: h4-truncate;
  animation-duration: 500ms;
}
.restaurant__block__card__anchor:hover .restaurant__block__card__anchor__txt p {
  animation-name: txt-truncate;
  animation-duration: 500ms;
}
.restaurant__block__card__anchor:hover .restaurant__block__card__anchor__price {
  animation-name: priceslide;
  animation-duration: 500ms;
}
.restaurant__block__card__anchor:hover .restaurant__block__card__anchor__slideshow {
  opacity: 1;
  animation-name: checkslide;
  animation-duration: 0.5s;
}
.restaurant__block__card__anchor__txt {
  position: relative;
  padding-top: 5px;
  padding-bottom: 10px;
  padding-left: 10px;
  background-color: #fff;
  margin-bottom: 10px;
  border-radius: 15px 15px 15px 15px;
  box-shadow: 0px 3px 3px 0px #C0C0C0;
}
.restaurant__block__card__anchor__txt p {
  width: 230px;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  font-size: 14px;
}
.restaurant__block__card__anchor__txt h4 {
  margin-bottom: 8px;
  font-size: 18px;
  padding-top: 10px;
}
.restaurant__block__card__anchor__price {
  position: absolute;
  font-weight: bold;
  bottom: 10px;
  right: 25px;
}
.restaurant__block__card__anchor__slideshow {
  position: absolute;
  top: 0px;
  right: 0px;
  width: 30px;
  color: #ffff;
  background: #99E2D0;
  padding: 20px;
  border-radius: 0 10px 10px 0;
  opacity: 0;
}
.restaurant__block__card--btn {
  margin: 0;
  padding-top: 15px;
  padding-bottom: 15px;
  margin-right: 70px;
  margin-left: 70px;
  font-weight: bold;
  background: linear-gradient(355deg, #9356DC 51%, #FF79DA 100%);
  border-radius: 30px 30px 30px 30px;
  color: #fff;
  margin-top: 30px;
  margin-bottom: 30px;
}
.restaurant__block__card--btn a {
  text-decoration: none;
  text-align: center;
  color: #fff;
}

footer {
  padding-top: 20px;
  padding-bottom: 30px;
  background: #2d2f30;
  position: relative;
}
footer .txt {
  margin-left: 20px;
}
footer .txt h3 {
  color: #fff;
  font-size: 20px;
  font-weight: normal;
}
footer .txt__link1 a {
  text-decoration: none;
  color: #fff;
  display: flex;
  margin-bottom: 10px;
}
footer .txt__link1 a p {
  margin-bottom: 0;
  margin-top: 0;
  margin-left: 20px;
}
footer .txt__link1__link2 a {
  text-decoration: none;
  color: #fff;
  display: flex;
  margin-bottom: 10px;
}
footer .txt__link1__link2 a p {
  margin-bottom: 0;
  margin-top: 0;
  margin-left: 20px;
}
footer .txt__link1__link2 i {
  width: 13px;
}
footer .txt__link1__link2__link3 a {
  text-decoration: none;
  color: #fff;
}
footer .txt__link1__link2__link3 a p {
  margin-bottom: 10px;
  margin-top: 0;
}
footer .txt__link1__link2__link3__link4 a {
  text-decoration: none;
  color: #fff;
}
footer .txt__link1__link2__link3__link4 a p {
  margin-bottom: 10px;
  margin-top: 0;
}

/*# sourceMappingURL=style.css.map */
