$color-primary: #9356DC;
$color-secondary: #FF79DA;
$color-tertiary: #99E2D0;

$bg-color-loc: lightgrey;
$bg-color-block: #E9E9E9;

$font-size: (
    standard: 18px
);

$notice-element-position: (
    icon-position: 50px,
    txt-position: 90px
);

$width: 230px;




