@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Shrikhand&display=swap');

*{
    font-family: 'Roboto', sans-serif;
}

.restaurant{
    h2{
        font-family: 'Shrikhand', cursive; 
    }
}

footer{
    .txt{
        h3{
            font-family: 'Shrikhand', cursive; 
        }
    }
}
