footer{
    padding-top: 20px;
    padding-bottom: 30px;
    background: #2d2f30;
    position: relative;
    .txt{
        margin-left: 20px;
        h3{
            color: #fff;
            font-size: 20px;
            font-weight: normal;
        }

        &__link1{
            @include footer-link-logo;

            &__link2{
                @include footer-link-logo;

                i{
                    width: 13px;
                }

                &__link3{
                    @include footer-link;

                    &__link4{
                        @include footer-link;
                    }
                }
            }
        }
    }
}