.restaurant{
    img{
        display: block;
        width: 375px;
        margin-bottom: -35px;
    }   

    &__block{
        @include restaurant-block;

        &__title{
        margin-bottom: 30px;
        }

        &__icon{
            position: absolute;
            top: 15px;
            right: 25px;

            &--modif{
                position: absolute;
                top: 15px;
                right: 25px;    
            } 
        }          

        &__card{
        h3{
            @include restaurant-h3-specs;
        }

            &__txt{
                margin-bottom: 10px;
                position: relative;
                h4{
                    @include restaurant-h4-specs;
                }
                @include restaurant-food-specs;
            }

            &__price{
                @include restaurant-price-specs;
            }

            &--btn{
                @include bouton;
                margin-top: 30px;
                margin-bottom: 30px;
                a{
                    text-decoration: none;
                    text-align: center;
                    color: #fff;
                }
            }
        }
    }
}