/* Mixins section "notice" */
/* Mobile */
/* Mixins section "rst" */
/* Mobile*/
/* Mixins footer */
/* Mobile */
@import url("https://fonts.googleapis.com/css2?family=Roboto&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Shrikhand&display=swap");
* {
  font-family: "Roboto", sans-serif;
}

footer .txt h3 {
  font-family: "Shrikhand", cursive;
}

.heading {
  display: flex;
  justify-content: center;
  padding-bottom: 15px;
  box-shadow: 0 0 3px 3px grey;
}
@media screen and (max-width: 600px) {
  .heading img {
    width: 200px;
    margin-top: 10px;
  }
}

.location {
  margin-top: 5px;
  padding-top: 15px;
  padding-bottom: 15px;
  display: flex;
  justify-content: center;
  background-color: lightgrey;
  color: black;
}
.location p {
  margin: 0;
  padding-left: 5px;
  font-weight: bold;
}

.description {
  padding-top: 30px;
  padding-bottom: 30px;
  background-color: #E9E9E9;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  text-align: center;
}
.description__title {
  margin-bottom: 10px;
  margin-top: 0;
  margin-left: 30px;
  margin-right: 30px;
}
.description__txt {
  font-size: 18px;
  margin-top: 0;
  margin-bottom: 10px;
  margin-left: 20px;
  margin-right: 30px;
}
.description--btn {
  margin: 0;
  padding-top: 15px;
  padding-bottom: 15px;
  margin-right: 70px;
  margin-left: 70px;
  font-weight: bold;
  background: linear-gradient(355deg, #9356DC 51%, #FF79DA 100%);
  border-radius: 30px 30px 30px 30px;
  color: #fff;
}

.notice {
  margin-right: 20px;
  margin-left: 20px;
}
.notice h2 {
  margin-top: 60px;
}
.notice p {
  margin: 0;
}
.notice__step {
  position: relative;
  padding-top: 35px;
  padding-bottom: 35px;
  background: #E9E9E9;
  border-radius: 20px 20px 20px 20px;
  margin-left: 10px;
  box-shadow: 1px 1px 3px 3px lightgray;
  margin-bottom: 20px;
}
.notice__step__number {
  top: 15px;
  left: -10px;
  position: absolute;
  font-weight: bold;
  color: #fff;
  margin: 0;
  font-size: 18px;
  padding-left: 10px;
  padding-right: 10px;
  padding-top: 5px;
  padding-bottom: 5px;
  background: #9356DC;
  border-radius: 50%;
}
.notice__step--i {
  position: absolute;
  top: 25px;
  left: 50px;
}
.notice__step__txt {
  position: absolute;
  font-weight: bold;
  left: 90px;
  top: 25px;
  font-size: 18px;
}

.restaurant {
  padding-top: 40px;
  padding-bottom: 40px;
  background: #E9E9E9;
}
.restaurant h2 {
  margin-top: 0;
  margin-bottom: 30px;
  margin-left: 20px;
}
.restaurant a {
  text-decoration: none;
  color: black;
}
.restaurant__card {
  position: relative;
  margin-left: 20px;
  margin-right: 20px;
  padding-bottom: 20px;
  margin-bottom: 20px;
  border-radius: 20px 20px 20px 20px;
  width: 335px;
  box-shadow: 1px 1px 5px 5px lightgray;
}
.restaurant__card--img img {
  width: 335px;
  height: 170px;
  object-fit: cover;
  border-radius: 20px 20px 0 0;
}
.restaurant__card__btn {
  position: absolute;
  top: 10px;
  right: 15px;
  font-size: 12px;
  font-weight: bold;
  padding-left: 10px;
  padding-right: 10px;
  padding-top: 5px;
  padding-bottom: 5px;
  background: #99E2D0;
  color: #278870;
}
.restaurant__card__btn p {
  margin: 0;
}
.restaurant__card__title {
  font-weight: bold;
}
.restaurant__card__title p {
  margin-bottom: 5px;
  margin-left: 10px;
}
.restaurant__card__location p {
  margin-left: 10px;
  margin-top: 0;
  margin-bottom: 0;
}
.restaurant__card__icon {
  z-index: auto;
  position: absolute;
  top: 190px;
  right: 25px;
}
.restaurant__card__icon:hover {
  display: none;
}
.restaurant__card__icon--modif {
  z-index: auto;
  position: absolute;
  top: 190px;
  right: 25px;
  opacity: 0;
}
.restaurant__card__icon--modif:hover {
  opacity: 1;
  position: absolute;
  top: 190px;
  right: 25px;
  color: #9356DC;
  background: -webkit-linear-gradient(355deg, #9356DC 51%, #FF79DA 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  transform: scale(1, 1.1);
  transition-property: transform;
  transition-duration: 400ms;
}

footer {
  padding-top: 20px;
  padding-bottom: 30px;
  background: #2d2f30;
}
footer .txt {
  margin-left: 20px;
}
footer .txt h3 {
  color: #fff;
  font-size: 20px;
  font-weight: normal;
}
footer .txt__link1 a {
  text-decoration: none;
  color: #fff;
  display: flex;
  margin-bottom: 10px;
}
footer .txt__link1 a p {
  margin-bottom: 0;
  margin-top: 0;
  margin-left: 20px;
}
footer .txt__link1__link2 a {
  text-decoration: none;
  color: #fff;
  display: flex;
  margin-bottom: 10px;
}
footer .txt__link1__link2 a p {
  margin-bottom: 0;
  margin-top: 0;
  margin-left: 20px;
}
footer .txt__link1__link2 i {
  width: 13px;
}
footer .txt__link1__link2__link3 a {
  text-decoration: none;
  color: #fff;
}
footer .txt__link1__link2__link3 a p {
  margin-bottom: 10px;
  margin-top: 0;
}
footer .txt__link1__link2__link3__link4 a {
  text-decoration: none;
  color: #fff;
}
footer .txt__link1__link2__link3__link4 a p {
  margin-bottom: 10px;
  margin-top: 0;
}

/*# sourceMappingURL=style.css.map */
