@mixin bouton{
    margin: 0;
    padding-top: 15px;
    padding-bottom: 15px;
    margin-right: 70px;
    margin-left: 70px;
    font-weight: bold;
    background: linear-gradient(355deg, $color-primary 36%, $color-secondary 83%);
    border-radius: 30px 30px 30px 30px;
    color: #fff;
}