@keyframes checkslide {
    0% { width: 0px; opacity: 0; }
    50% {opacity: 0.5;}
    100% { width: 30px; opacity: 1; }
}

@keyframes checkslide-reverse {
    0% { width: 30px; opacity: 1; }
    50% {opacity: 0.5;}
    100% { width: 0px; opacity: 0; }
}

@keyframes priceslide {
    0% {
        -webkit-transform: translateX(0);
                transform: translateX(0);
    }
    100% {
    -webkit-transform: translateX(-50px);
            transform: translateX(-50px);
    }
}

@keyframes priceslide-reverse {
    0% {
        -webkit-transform: translateX(-50px);
                transform: translateX(-50px);
    }
    100% {
    -webkit-transform: translateX(0);
            transform: translateX(0);
    }
}

@keyframes txt-truncate {
    0% { width: 230px; }
    100% { width: 180px; }
}

@keyframes txt-truncate-reverse {
    0% { width: 180px; }
    100% { width: 230px; }
}

@keyframes h4-truncate {
    0% { width: 300px; }
    100% { width: 250px; overflow: hidden; white-space: nowrap; text-overflow: ellipsis; }
}

@keyframes h4-truncate-reverse {
    0% { width: 250px; overflow: hidden; white-space: nowrap; text-overflow: ellipsis; }
    100% { width: 300px; }
}

@keyframes fade-in-bottom {
    0% {
    -webkit-transform: translateY(50px);
            transform: translateY(50px);
    opacity: 0;
    }
    100% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
    opacity: 1;
    }
}

@keyframes scale-in-center {
    0% {
    opacity: 0;
    }
    100% {
    opacity: 1;
    }
}

@keyframes spin {
    0% { 
    transform: rotate(0deg);
    }
    100% { 
    transform: rotate(360deg);
    }
}

@keyframes spin-reverse {
    0% { 
    transform: rotate(360deg);
    }
    100% { 
    transform: rotate(0deg);
    }
}

@keyframes fade-out {
    0% {
        opacity: 1;
    }
    100% {
        opacity: 0;
        visibility: hidden;
    }
}

@keyframes scale-growth {
    0% {
        transform: scale(1);
        }
    100% {
        transform: scale(1.1);
    }
}

