@mixin heading-shadow {
    box-shadow: 0 0 3px 3px grey;
}

@mixin shadow {
    box-shadow: 1px 1px 5px 5px lightgray;
}

@mixin header-logo {
    position: absolute;
    top: 10px;
    left: 87px;
    width: 200px;
}

/* Mixins footer */
/* Mobile */
@mixin footer-link-logo {
    a {
        text-decoration: none;
        color: #fff;
        display: flex;
        margin-bottom: 10px;

        p {
            margin-bottom: 0;
            margin-top: 0;
            margin-left: 20px;
        }
    }
}

@mixin footer-link {
    a {
        text-decoration: none;
        color: #fff;

        p {
            margin-bottom: 10px;
            margin-top: 0;
        }
    }
}


/* Mixins accueil section "notice" */
/* Mobile */
@mixin notice-number {
    position: absolute;
    font-weight: bold;
    color: #fff;
    margin: 0;
    font-size: 18px;
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 5px;
    padding-bottom: 5px;
    background: $color-primary;
    border-radius: 50%;
}

@mixin notice-btn {
    padding-top: 35px;
    padding-bottom: 35px;
    background: $bg-color-block;
    border-radius: 20px 20px 20px 20px;
    margin-left: 10px;
    box-shadow: 1px 1px 3px 3px lightgray;
    margin-bottom: 20px;
}


/* Mixins accueil section "restaurant" */
/* Mobile*/
@mixin card-btn {
    position: absolute;
    top: 10px;
    right: 15px;
    font-size: 12px;
    font-weight: bold;
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 5px;
    padding-bottom: 5px;
    background: $color-tertiary;
    color: darken($color: $color-tertiary, $amount: 40);
}

@mixin card-restaurant {
    position: relative;
    margin-left: 20px;
    margin-right: 20px;
    padding-bottom: 20px;
    margin-bottom: 20px;
    border-radius: 20px 20px 20px 20px;
    width: 335px;
}

@mixin card-img {
    width: 335px;
    height: 170px;
    object-fit: cover;
    border-radius: 20px 20px 0 0;
}

@mixin card-title {
    margin-top: 10px;
    margin-bottom: 5px;
    margin-left: 10px;
}

@mixin card-location {
    margin-left: 10px;
    margin-top: 0;
    margin-bottom: 0;
}

@mixin card-icon {
    position: absolute;
    top: 190px;
    right: 25px;
    -webkit-text-fill-color: $bg-color-block;
    -webkit-text-stroke-width: 3px;
    cursor: pointer;
}

@mixin card-icon-fly {
    position: absolute;
    top: 190px;
    right: 25px;
    color: $color-primary;
    background: -webkit-linear-gradient(355deg, $color-primary 51%, $color-secondary 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    transform: scale(1, 1.10);
    transition-property: transform;
    transition-duration: 400ms;
}


/* Mixins restaurant */
@mixin restaurant-block {
    position: relative;
    background-color: $bg-color-block;
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 15px;
    padding-bottom: 15px;
    border-radius: 40px 40px 0 0;
}

@mixin restaurant-heart {
    position: absolute;
    top: 15px;
    right: 25px;
    -webkit-text-fill-color: $bg-color-block;
    -webkit-text-stroke-width: 3px;
    cursor: pointer;
}

@mixin heart-appear {
    animation-name: scale-in-center;
    animation-duration: 500ms;
    color: $color-primary;
    background: -webkit-linear-gradient(355deg, $color-primary 51%, $color-secondary 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

@mixin restaurant-h3-specs {
    font-weight: normal;
    margin-top: 50px;

    &:after {
        content: '';
        display: block;
        width: 30px;
        border-bottom: 3px solid $color-tertiary;
        margin-top: 5px;
        margin-bottom: 15px;
    }
}

@mixin restaurant-h4-specs {
    margin-bottom: 8px;
    font-size: map-get($font-size, standard);
    padding-top: 10px;
}

@mixin restaurant-food-specs {
    position: relative;
    padding-top: 5px;
    padding-bottom: 10px;
    padding-left: 10px;
    background-color: #fff;
    margin-bottom: 10px;
    border-radius: 15px 15px 15px 15px;
    box-shadow: 0px 3px 3px 0px #C0C0C0;
}

@mixin restaurant-txt-overflow {
    p {
        width: 230px;
        overflow: hidden;
        white-space: nowrap;
        text-overflow: ellipsis;
        font-size: map-get($font-size, smaller);
    }
}

@mixin restaurant-price-specs {
    position: absolute;
    font-weight: bold;
    bottom: 10px;
    right: 25px;
}

@mixin restaurant-check-specs {
    position: absolute;
    top: 0px;
    right: 0px;
    width: 30px;
    color: #ffff;
    background: $color-tertiary;
    padding: 20px;
    border-radius: 0 10px 10px 0;
    opacity: 0;
}


/* Mixins animations */
@mixin restaurant-check-animation {
    opacity: 1;
    animation-name: checkslide;
    animation-duration: 0.5s;
    animation-fill-mode: both;
}

@mixin restaurant-price-animation {
    animation-name: priceslide;
    animation-duration: 500ms;
    animation-fill-mode: both;
}

@mixin restaurant-txt-animation {
    animation-name: txt-truncate;
    animation-duration: 500ms;
    animation-fill-mode: both;
}

@mixin restaurant-h4-animation {
    animation-name: h4-truncate;
    animation-duration: 500ms;
    animation-fill-mode: both;
}

@mixin restaurant-card-animation {
    animation-name: scale-in-bottom;
    animation-duration: 800ms;
    animation-fill-mode: both;
}
