.restaurant {
    padding-top: 40px;
    padding-bottom: 40px;
    background: $bg-color-block;
    
    @media screen and (min-width: 768px) {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-around;
    }
    
    h2 {
        margin-top: 0;
        margin-bottom: 30px;
        margin-left: 20px;
        @media screen and (min-width: 768px) {
            display: flex;
            width: 1900px;
        }
    }

    a {
        text-decoration: none;
        color: black;

        &:hover {
            @include growth;
            
        }
    }

    &__card{
        @include card-restaurant;
        @include shadow;

        &:hover {
            box-shadow: 1px 1px 5px 5px grey;
        }

        &--img {
            img {
                @include card-img;
            }
        }

        &__btn {
            p {
                margin: 0;
            }
            @include card-btn;
        }

        &__title {
            p {
                @include card-title;
            }
            font-weight: bold;
        }

        &__location {
            p {
                @include card-location;
            }
        }

        &__icon {
            @include card-icon;
        }

        &-checkbox {
            display: none;

            &:checked + .restaurant__card__icon {
                background: linear-gradient(355deg, $color-primary 36%, $color-secondary 83%);
                background-clip: text;
                -webkit-background-clip: text;
                -webkit-text-fill-color: transparent;
                -webkit-text-stroke: unset;
                animation-name: scale-in-center;
                animation-duration: 800ms;
            }
        }
    }
}
