@import url("https://fonts.googleapis.com/css2?family=Roboto&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Shrikhand&display=swap");
* {
  font-family: "Roboto", sans-serif;
}

.restaurant h2 {
  font-family: "Shrikhand", cursive;
}

footer .txt h3 {
  font-family: "Shrikhand", cursive;
}

/* Mixins restaurant */
/* Mixins footer */
* {
  margin: 0;
}

.heading {
  padding-bottom: 15px;
}
.heading a {
  text-decoration: none;
  color: #000;
}
.heading__arrow {
  position: relative;
  padding-top: 10px;
  padding-left: 20px;
}
.heading img {
  position: absolute;
  top: 10px;
  left: 87px;
  width: 200px;
}

.restaurant img {
  display: block;
  width: 375px;
  margin-bottom: -35px;
}
.restaurant__block {
  position: relative;
  width: 335px;
  background-color: #E9E9E9;
  padding-left: 20px;
  padding-right: 20px;
  padding-top: 15px;
  padding-bottom: 15px;
  border-radius: 40px 40px 0 0;
}
.restaurant__block__title {
  margin-bottom: 30px;
}
.restaurant__block__icon {
  position: absolute;
  top: 15px;
  right: 25px;
}
.restaurant__block__icon--modif {
  position: absolute;
  top: 15px;
  right: 25px;
}
.restaurant__block__card h3 {
  font-weight: normal;
  margin-top: 50px;
}
.restaurant__block__card h3:after {
  content: "";
  display: block;
  width: 15%;
  border-bottom: 3px solid #99E2D0;
  margin-top: 5px;
  margin-bottom: 15px;
}
.restaurant__block__card__txt {
  margin-bottom: 10px;
  position: relative;
  padding-left: 10px;
  background-color: #fff;
  padding-top: 10px;
  padding-bottom: 10px;
  border-radius: 15px 15px 15px 15px;
  box-shadow: 0px 3px 3px 0px #C0C0C0;
}
.restaurant__block__card__txt h4 {
  margin-bottom: 8px;
  font-size: 18px;
}
.restaurant__block__card__price {
  position: absolute;
  top: 38px;
  right: 22px;
  font-weight: bold;
}
.restaurant__block__card--btn {
  margin: 0;
  padding-top: 15px;
  padding-bottom: 15px;
  margin-right: 70px;
  margin-left: 70px;
  font-weight: bold;
  background: linear-gradient(355deg, #9356DC 51%, #FF79DA 100%);
  border-radius: 30px 30px 30px 30px;
  color: #fff;
  margin-top: 30px;
  margin-bottom: 30px;
}
.restaurant__block__card--btn a {
  text-decoration: none;
  text-align: center;
  color: #fff;
}

footer {
  padding-top: 20px;
  padding-bottom: 30px;
  background: #2d2f30;
  position: relative;
}
footer .txt {
  margin-left: 20px;
}
footer .txt h3 {
  color: #fff;
  font-size: 20px;
  font-weight: normal;
}
footer .txt__link1 a {
  text-decoration: none;
  color: #fff;
  display: flex;
  margin-bottom: 10px;
}
footer .txt__link1 a p {
  margin-bottom: 0;
  margin-top: 0;
  margin-left: 20px;
}
footer .txt__link1__link2 a {
  text-decoration: none;
  color: #fff;
  display: flex;
  margin-bottom: 10px;
}
footer .txt__link1__link2 a p {
  margin-bottom: 0;
  margin-top: 0;
  margin-left: 20px;
}
footer .txt__link1__link2 i {
  width: 13px;
}
footer .txt__link1__link2__link3 a {
  text-decoration: none;
  color: #fff;
}
footer .txt__link1__link2__link3 a p {
  margin-bottom: 10px;
  margin-top: 0;
}
footer .txt__link1__link2__link3__link4 a {
  text-decoration: none;
  color: #fff;
}
footer .txt__link1__link2__link3__link4 a p {
  margin-bottom: 10px;
  margin-top: 0;
}

/*# sourceMappingURL=style.css.map */
