.restaurant {
    img {
        display: block;
        width: 375px;
        margin-bottom: -35px;
    }

    &__block {
        @include restaurant-block;

        &__title {
            margin-bottom: 30px;
        }

        &__icon {
            @include restaurant-heart;

                &:hover {
                    @include heart-disapear;
                    animation-fill-mode: both;
                }
        }

        &--modif{
            @include restaurant-heart;
            opacity: 0;

            &:hover {
                @include heart-appear;
                animation-fill-mode: both;
            }
        }

        &__card {
            h3 {
                @include restaurant-h3-specs;
            }

            &__anchor {
                text-decoration: none;
                color: #000;
                display: block;
                position: relative;

                &:hover &__txt {

                    h4 {
                        @include restaurant-h4-animation;
                    }
                    p {
                        @include restaurant-txt-animation;
                    }
                }

                &:hover &__price {
                    @include restaurant-price-animation;
                }

                &:hover &__slideshow {
                    @include restaurant-check-animation;
                }

                &__txt {
                    @include restaurant-food-specs;
                    @include restaurant-txt-overflow;

                    h4 {
                        @include restaurant-h4-specs;
                    }
                }

                &__price {
                    @include restaurant-price-specs;
                }

                &__slideshow{
                    @include restaurant-check-specs;
                }
            }

            &--btn {
                @include bouton;
                margin-top: 30px;
                margin-bottom: 30px;
                a{
                    text-decoration: none;
                    text-align: center;
                    color: #fff;
                }
            }
        }
    }
}