@mixin heading-shadow{
    box-shadow: 0 0 3px 3px grey;
}

@mixin shadow{
    box-shadow: 1px 1px 5px 5px lightgray;
}


/* Mixins section "notice" */
/* Mobile */
@mixin notice-number{
    position: absolute;
    font-weight: bold;
    color: #fff;
    margin: 0;
    font-size: 18px;
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 5px;
    padding-bottom: 5px;
    background: $color-primary;
    border-radius: 50%;
}

@mixin notice-btn{
    padding-top: 35px;
    padding-bottom: 35px;
    background: $bg-color-block;
    border-radius: 20px 20px 20px 20px;
    margin-left: 10px;
    box-shadow: 1px 1px 3px 3px lightgray;
    margin-bottom: 20px;
}


/* Mixins section "rst" */
/* Mobile*/
@mixin card-btn{
    position: absolute;
    top: 10px;
    right: 15px;
    font-size: 12px;
    font-weight: bold;
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 5px;
    padding-bottom: 5px;
    background: $color-tertiary;
    color: darken($color: $color-tertiary, $amount: 40);
}

@mixin card-restaurant{
    position: relative;
    margin-left: 20px;
    margin-right: 20px;
    padding-bottom: 20px;
    margin-bottom: 20px;
    border-radius: 20px 20px 20px 20px;
    width: 335px;
    @include shadow;
}

@mixin card-img{
    width: 335px;
    height: 170px;
    object-fit: cover;
    border-radius: 20px 20px 0 0;
}

@mixin card-title{
    margin-bottom: 5px;
    margin-left: 10px;
}

@mixin card-location{
    margin-left: 10px;
    margin-top: 0;
    margin-bottom: 0;
}

@mixin card-icon{
    position: absolute;
    top: 190px;
    right: 25px;
}

@mixin card-icon-fly{
    position: absolute;
    top: 190px;
    right: 25px;
    color: $color-primary;
    background: -webkit-linear-gradient(355deg, $color-primary 51%, $color-secondary 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    transform: scale(1, 1.10);
    transition-property: transform;
    transition-duration: 400ms;
}




/* Mixins footer */
/* Mobile */
@mixin footer-link-logo{
    a{
        text-decoration: none;
        color: #fff;
        display: flex;
        margin-bottom: 10px;

        p{
            margin-bottom: 0;
            margin-top: 0;
            margin-left: 20px;
        }
    }
}

@mixin footer-link{
    a{
        text-decoration: none;
        color: #fff;

        p{
            margin-bottom: 10px;
            margin-top: 0;
        }
    }
}


